{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Canvas{% endblock %}</title>
    <!-- Add any necessary CSS files -->
</head>
<body>
    <header>
        <!-- Add header content here -->
    </header>

    <main>
        {% block content %}
        <h1>Canvas</h1>
        <div class="products">
            {% for product in products %}
            <div class="product">
                <img src="{{ product.image.url }}" alt="{{ product.product_name }}">
                <h2>product name:{{ product.product_name }}</h2>
                <p>Description:{{ product.description }}</p>
                <p>Price: ₹{{ product.price }}</p>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </main>

    <footer>
        <!-- Add footer content here -->
    </footer>

    <!-- Add any necessary JavaScript files -->
</body>
</html>
