{% load static %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Art Gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
    </head>
    <body>
      
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <header>
            <div class="header">
              <nav class="navbar navbar-expand-lg fixed-top myNav">
                <div class="container">
                  <!-- Brand/Logo aligned to the right -->
                  <a class="navbar-brand ms-auto" href="/">Art Gallery</a>
                  <!-- Navbar Toggler Button -->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                  <!-- Navbar Links aligned to the left -->
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/home/">Home</a>
                        
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/artists_dashboard/">Artists</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/artworks/">Art Works</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/artsupplies/">Art Supplies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/shop/">Shop</a>
                      </li>
                     
                      
                      {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="#">Hello, {{ user.username}} </a></li>
                        <li class="nav-item">
                          <a class="nav-link" href="/accounts/logout">logout</a>
                        </li>
                      {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="/accounts/login/">login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/accounts/register/">register</a>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </header>
          {% include 'footer.html' %}
          <script src="{% static 'js/popper.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
