.navbar{
    background-color:  #007bff;
    
    position: fixed;
    top: 0;
    text-align: center;
    display: inline-block;    
}

.footer {
    background-color:  #007bff;

    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
}