.navbar{
    background-color:  #007bff;
    
    position: fixed;
    top: 0;
    text-align: center;
    display: inline-block;    
}

.footer {
    background-color:  #007bff;
    color: white;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
}

.header{
    background-color: #007bff;

}
.navbar-brand{
    color: white!important;
}
.nav-link{
    color: white!important;
}
.nav-link:hover{color: black!important;}
